html{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

 *,
 *::before,
 *::after{
  box-sizing: inherit;
  }

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
  background-image: linear-gradient( to right bottom,
  lightskyblue,aqua);
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: auto;
  margin-left: auto;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-content{
  flex-grow: 1;
}

.fieldset{
  background-color: #fff;
  margin-top: 50px;
}

.form-inner{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.form-label{
  display: flex;
  align-items: center;
}

.checkbox-control{
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px;

}

.checkbox:disabled ~ .checkbox-control,
.checkbox:disabled ~ .checkbox-text
{
  opacity: 0.5;
}

.checkbox-control:not(:last-child){
  margin-bottom: 8px;
}

.checkbox:focus ~ .checkbox-control{
  box-shadow: 0px 0px 0px 3px #0E85F3;
  border-radius: 5px;
}

.checkbox-ping-pong:checked ~ .checkbox-control{
  background-image: url("../img/tennis.svg");
}

.checkbox-basketball:checked ~ .checkbox-control{
  background-image: url("../img/basketball.svg");
}

.checkbox-valeyball:checked ~ .checkbox-control{
  background-image: url("../img/valeyball.svg");
}

.checkbox-hakkey:checked ~ .checkbox-control{
  background-image: url("../img/hakkey.svg");
}